@model lab7.Models.Musician;
<!DOCTYPE html>
<html>

<h4>Musician</h4>
<div class="edit-block">
    @using (Html.BeginForm("CreateMusician", "Home"))
    {
        <div class="dataBox">
            <label>ID</label><br />
            @Html.TextBoxFor(m => m.Id, new { type = "number", @class = "text-box" })
        </div>
        <div class="dataBox">
            <label>Имя</label><br />
            @Html.TextBoxFor(m => m.Name, new { @class = "text-box" })
        </div>
        <div class="dataBox">
            <label>Возраст</label><br />
            @Html.TextBoxFor(m => m.Age, new { type = "number", @class = "text-box" })
        </div>
        <div class="dataBox">
            <label>Группа</label><br />
            @Html.TextBoxFor(m => m.Band, new { @class = "text-box" })
        </div>
        <div class="dataBox">
            <label>Инструмент</label><br />
            @Html.TextBoxFor(m => m.Instrument, new { @class = "text-box" })
        </div>
        <div class="dataBox">
            <input type="submit" value="Save" />
        </div>
    }
</div>
<div>
    <a asp-action="MusiciansPage">Back to Musicians List</a>
</div>
</html>
